.searchcarcl {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 1em;
  padding-right: 1em;
  justify-content: right;
  width: 100%;
  height: auto;
}

.sbhomepage {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*j'ai commenté ces lignes pour que ça ne force pas mon titre "Liked artworks:" à se mettre au millieu et ça ne change rien dans la structure globale*/
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-direction: row-reverse; */
}

.cardart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
